[2014-01-01 00:08] lightsofapollo opened #2 "Should use error objects instead of strings"
https://github.com/apocas/docker-modem/blob/master/lib/modem.js#L112

I don't think it needs to be super structured but likely should be an actual error object.

[2014-01-01 11:45] #2 closed, assigned to nobody

[2014-01-16 10:33] josiasmontag opened #5 "error 500 "unexpected EOF", if special characters in options"
Hello,

Thanks for creating dockerode & docker-modem!

The following bug is happening in dockerode, but I think it is more docker-modem related.

It happens if there are any "special characters" (like German äöü or any other like àò) in options:

[code]

[code]

The docker debug log says:

[code]

If I remove the setting of "Content-Length" in docker-modem it works:

https://github.com/josiasmonta

[2014-01-22 05:41] lightsofapollo opened #7 "Support the same syntax that docker itself uses (a string without a protocol) for connecting"
DOCKER_HOST has the following form:

$IP:$PORT
(for example)
127.0.0.1:4243

Ideally I would like to pass DOCKER_HOST directly or some other compliant thing so I can configure the docker CLI and everything else will "just" work with those details.

[2014-01-24 01:11] lightsofapollo opened #9 "Errors should include status code in the error object (rather then a only message)"

[2014-02-09 13:43] #9 closed, assigned to nobody

[2014-02-22 12:04] #5 closed, assigned to nobody

[2014-03-29 23:29] dininski opened #17 "Closing stdin stream"
After attaching and writing data to stdin I need to close it somehow. I have some code that is being executed any expects the stdin in the container to be closed at a certain poinrt. Is there a way for this to be accomplished?

[2014-03-29 23:30] #17 closed, assigned to nobody

[2014-05-29 20:08] dweinstein opened #22 "stdout.end() no method 'end'"
[code]

[2014-05-29 20:35] #22 closed, assigned to nobody

[2014-07-02 10:01] tehmoon opened #23 "Nodejs hang after attaching 5 containers"
Hi Pedro,

I'm using your docker-modem to try to stream over thousands of containers.
But it seems that over http your method Attach completly freeze all my http request.

What i'm doing:

[code]

After executing this exactly 5 times with different `container.id` all my http request to my single docker server are hanging.
IE:

[code]

Nevers output `"blih"` after 5 times calling `.attach()`

I'll

[2014-07-03 13:49] #23 closed, assigned to nobody

[2014-07-16 11:25] rhuss opened #24 "Add "schema" to constructor opts (or "url")"
When preparing  the URL [here](https://github.com/apocas/docker-modem/blob/master/lib/modem.js#L32), the schema is missing, which in my case results in a malformed URL `localhost:/containers/json?` instead of  `http://localhost:2375/containers/json?` something like.

In the following I get obviously a 'Connection refused' error.

Here's my sample code:

[code]

Using `http://localhost` as `host` w

[2014-07-19 02:00] mikejholly opened #25 "Weird double parameter bug"
I'm invoking the `top` method of dockerode like so

[code]

and docker-modem is building a URL like

[code]

This is causing a parsing error on the server.

Some of the logic in modem.js seems a bit confused.

On line 38 there's a check for a `?` character. If it passes and `opts` is set the query string is added to `address`—which becomes `optionsf.path`.

[code]

Then on line `80`, `address` is

[2014-07-26 14:06] #7 closed, assigned to nobody

[2014-07-26 14:16] #25 closed, assigned to nobody

[2014-07-26 14:16] #24 closed, assigned to nobody

[2014-08-04 19:56] orospakr opened #27 "Allow for options.file to be a Stream"
Would be handy for programs generating large tar output (or receiving inbound archive data from elsewhere) for image builds to avoid buffering large amounts of data.

[2014-08-05 21:41] #27 closed, assigned to nobody

[2014-09-16 22:33] nikmol opened #29 "Double escaping"
I'm trying to use a pull (docker pull, to pull from a registry, in my case it's red:5000/image-name).
I noticed that in function: Modem.prototype.dial, it is escaping the path when adding the opts to the address (address += querystring.stringify(opts);)

When it comes to the Modem.prototype.buildRequest, and creates the http req (var req = http[self.protocol].request(options, function() {});), thi

[2014-12-24 02:16] knownasilya opened #31 "tcp protocol support"
Docker uses tcp protocol when working with boot2docker, and https://github.com/apocas/docker-modem/blob/master/lib/modem.js#L102 doesn't support tcp, get `undefined`.

[2014-12-28 03:51] #31 closed, assigned to nobody

[2014-12-29 14:21] knownasilya opened #32 "Error with TCP"
Getting the following error, using latest version of docker-modem.

[code]

Options passed to `dial` are:

[code]

[2014-12-29 15:09] #32 closed, assigned to nobody

[2015-02-06 15:13] nikmol commented on #29
Hi Pedro.

Sorry I haven't got back to you.
I have been pretty swamped lately, so I haven't had much time to look at
this.

I'll do it asap.

Best regards,
Niklas

On Sat, Dec 27, 2014 at 7:59 PM, Niklas Molin <niklas.p.molin@gmail.com>
wrote:

[2015-04-29 17:14] nikmol commented on #29
Hi Pedro.

I finally had time to look at this again.

So I trying to pull from following address, 192.168.10.39:5000/pga
In mode.js,line 96 (address += querystring.stringify(opts); )
opts has following paramters:

   1. fromImage: "192.168.10.39:5000/pga"
   2. tag: undefined

address has (before this line) "http://192.168.55.126:4243/images/create?" ,
after line is executed "
http://192.168.55.12

[2015-06-14 14:49] BenHall opened #45 "Timeout and Attach conflict?"
At the moment if Docker connection fails then the modem can hang requests. However when using timeout combine with Attach then the two seem to conflict.  Having set my timeout to 1000, it will also still the on-going attach connection even if it has successfully connected.

The node.js documentation says: "Sets the socket to timeout after timeout milliseconds of inactivity on the socket" where as

[2015-07-08 19:37] ekristen opened #47 "X-Registry-Config Header"
So with docker 1.7.0 and forward, the build endpoint (and possibly others) wants the `X-Registry-Config` header which is the base64 encoded contents of the `.docker/config.json` or the `.dockercfg` file (the first being the new formatted config file, the second being the legacy location.

A quick fix for this would be at Line 119 of modem.js simply putting `optionsf.headers['X-Registry-Config'] =

[2015-07-08 23:11] apocas commented on #47
Sorry I'm a bit lost.

X-Registry-Auth where the authentication base64 string resides.
How is this related with the X-Registry-Config from build?

[2015-07-08 23:21] apocas commented on #47
Check this out:
https://github.com/apocas/docker-modem/commit/dad8f8b3f950bff8f93ed89ab916c001c839a40a
https://github.com/apocas/dockerode

[2015-07-11 22:29] apocas commented on #47
Published in dockerode v2.2.2 and docker-modem v0.2.6

[2015-07-11 22:29] #47 closed

[2015-07-12 01:05] ekristen commented on #47
I will test it out. Thanks

Sent from my iPhone

[2015-08-09 19:08] jonasfj opened #48 "HttpDuplex.end() breaks output"
So playing with attach streams... specifically for `docker exec`, I've found that you can't end the stdin stream... The `HttpDuplex.end()` [implementation](https://github.com/apocas/docker-modem/blob/f5c47890e7f42bd933074299d41481649d1b3641/lib/http_duplex.js#L42-L45) breaks the TCP stream - not just closing this side.

So if you do the equivalent of `echo "test" | docker exec CONTAINER wc -c` you

[2015-08-09 19:11] jonasfj commented on #48
Also if I do:
[code]
Then everything works as expected... So perhaps we don't need the `HttpDuplex` wrapper at all.
 `stream.req.socket.end()` closes the stdin side of the socket as expected.

[2015-08-09 22:51] jonasfj commented on #48
Update... I've just realized that I loose some initial output if I use `stream = stream.req.socket`.
So this probably have to the the upgrade thing.

[2015-08-17 17:49] jonasfj commented on #48
@EggyLv999, any chance you can take a look at this.
I'm not sure if `docker-modem` is easily fixed, or we need some special methods to support `docker exec`.

[2015-08-19 13:35] ghost opened #50 "issues for large build context when invoking buildImage api"
the buildImage uses fs.readFileSync on the source tar.
1. this blocks the event-loop.

worse yet, if the tar file is large, a buffer is allocated the size of the tar file. for a 1GB build context, for example, you exceed the max buffer size node allows.
you'll have to recompile v8 to get this to work.

pull request for working with stream instead opened.

[2015-08-27 13:57] JohnyDays commented on #48
Also having this issue, being unable to manually end the connection

[2015-08-27 14:00] JohnyDays commented on #48
Tried your fix @jonasfj, worked for me. Making a fork for now

[2015-08-27 14:05] jonasfj commented on #48
@johnyDays, I experienced other issues with my fix. I suspect the best solution is to send the `Upgrade: tcp` headers as expected by docker.

[2015-08-27 16:12] JohnyDays commented on #48
I was using the logs() function to monitor logging and look for a signal that a certain container is ready for action. But it just wasn't working, there was no reliable way to close the connection that did not result in disaster. So I am now polling the logs every X seconds (with a slight modification in a fork, not to use streams) and checking that way

[2015-10-08 20:19] apocas commented on #50
Streams already supported. https://github.com/apocas/dockerode/issues/128

More details in https://github.com/apocas/docker-modem/pull/49

[2015-10-08 20:19] #50 closed

[2015-11-12 15:25] jaymedavis opened #53 "pfx"
Instead of passing the ca.pem/cert.pem/key.pem, is it possible to pass a pfx similar to the request library?

This seems like it would be really easy to do - I can take an attempt at it locally as well.

Thanks for this library, it rocks.

[2016-02-26 07:53] Multiply opened #61 "Support using an environment like object"
Is there reason we don't just pass and object like? ```javascript
{
  "DOCKER_HOST": "unix:///var/run/docker.sock",
  "DOCKER_TLS_VERIFY": "0"
}
[code]

[2016-04-22 22:31] doganyazar opened #62 "Modem.followProgress crashes with TypeError"
Once in a while, I have this exception caused by the following code:
[code]

[code]

$ docker -v
Docker version 1.10.3, build 20f81dd

Could not really track down the issue. Any ideas?

[2016-04-25 11:48] doganyazar commented on #62
After looking this again, it looks like it is a programming error so closing the issue.

Should be
[code]

[2016-04-25 11:48] #62 closed

[2016-05-06 20:14] FrenchBen opened #63 "Named pipe support"
Would it be possible for docker-modem to also support named pipes?
On windows it's the de-facto:
https://github.com/docker/engine-api/blob/master/client/client_windows.go

With Windows 2016 container in the works it'd be nice to have this available right off the bat.

[2016-05-12 23:32] apocas commented on #63
Interesting.
My Windows voodoo is not strong enough to know this one :)

[2016-05-12 23:43] apocas commented on #53
Just implemented it.
Could you please take a look at branch https://github.com/apocas/docker-modem/tree/pfx

[2016-05-13 01:11] FrenchBen commented on #63
I've seen a few named-pipe examples, I'll see what I can do

[2016-09-28 01:49] edwardproxy opened #67 "Support customized headers"
We are using docker engine swarm mode and one scenario is:
On one swarm worker, our service, which is running inside a docker container, will make some remote api calls to swarm manager leader. Now we want to enable the TLS for docker daemon on the manager leaders.
To make those remote api calls, we use dockerode module, and what we want to do is to set the headers(Host: <common name>), then make

[2016-09-30 12:39] ypjin commented on #67
This seems not necessary for docker-modem since it supports setting headers per request, but it's good to have this.

[2016-10-27 22:23] freefood89 opened #69 "docker-modem silently returns different output"
Is there a specific reason behind silently supressing an error and returning a string instead of an parsed object as shown below?

https://github.com/apocas/docker-modem/blob/master/lib/modem.js#L199-L203

[code]

I had a bunch of stopped containers and `docker.listContainers({all: true}, ... )` broke silently.

If there's no reason, then I would like to submit a patch.

[2016-10-28 00:07] buywithkyosk opened #70 "a"

[2016-10-28 00:10] mashaalmemon opened #71 "Update Dependencies Of Your Project So That NPM Shrinkwrap Will Work"
Hi There,

Listing in the package dependencies is the npm package  `follow-redirects@0.0.3`. That package has a dependency for underscore but no version is specified.

As a result when using the `npm shrinkwrap` command in my project, I am experiencing this error #https://github.com/npm/npm/issues/11493

Is there any way you can update and release a  your dependencies to a more recent version of `

[2016-10-28 00:10] #70 closed

[2016-10-30 10:28] apocas commented on #71
Merged will published later today:
https://github.com/apocas/docker-modem/pull/68

[2016-10-30 23:45] mashaalmemon commented on #71
@apocas , many thanks.

[2016-11-12 04:48] apocas commented on #71
Fixed and published.

[2016-11-12 04:48] #71 closed

[2017-02-07 05:00] vincentwoo opened #73 "passing options to HttpDuplex?"
Right now, docker-model hides option passing to HttpDuplex. I'm trying to configure the initial `highWaterMark` option for streaming, but am unable to pass that to the underlying stream. Is it possible to expose more surface area?

[2017-03-10 10:24] dcolens commented on #48
FYI https://github.com/mafintosh/docker-remote-api does not have this issue.

[2017-03-10 22:00] apocas commented on #48
This issue is a bit old, lost track of it, since then we have implemented hijacking.

Described in here: https://github.com/apocas/dockerode#streams-goodness

Do you have this issue using hijacking?

[2017-03-11 07:38] dcolens commented on #48
Nope I did not try, the test I wrote back in 2015 showed the issue: https://github.com/apocas/dockerode/issues/136 <https://github.com/apocas/dockerode/issues/136> the way it was re-written was not right because it did not use the stream to end the connection but the exit command.

Did

[2017-05-19 06:42] sulaiman-alwie opened #77 "Low severity vulnerability issue for debug"
Vulnerability is in ms package used by debug. Please refer to https://snyk.io/vuln/npm:ms:20151024.

debug package [v2.6.7](https://github.com/visionmedia/debug/releases/tag/2.6.7) has addressed this issue.

[2017-05-30 09:09] eslap opened #79 "Docker image files are read synchronously"
When loading a saved docker image from a file, the `readFile` operation is done synchronously, thus blocking Node.js event loop for the duration of the operation. A docker image export file can be quite big, which would result in other tasks to starve, since they would not get any CPU. An asynchonous file read approach should be preferred.

Is there a reason for reading these file synchronously?

[2017-05-31 18:19] jinxidoru opened #80 "connect to docker through ssh connection"
First off, thanks for creating docker-modem and dockerode.  They have been very helpful recently.

I have a use-case where I would like to connect to a docker container on a server which is accessible through ssh.  I am doing some slightly unholy acts to make this work locally, but I'm pretty sure there's an easy solution that could be implemented by giving docker-modem the ability to tunnel to a

[2017-06-04 17:55] rmg opened #81 "Sending non-empty body for some requests breaks docker > 1.12"
Example of error:

This is caused by `modem.dial` sending `{}` and setting `Transfer-Encoding: chunked` on `POST` methods when no body is specified.

Here's a quick hack to work around it, illustrating the problem bits:
[code]

[2017-06-04 20:05] apocas commented on #81
I'm yet to publish https://github.com/apocas/docker-modem/pull/78

Not use if not using chunked with POST might be a problem for this other issue :/

[2017-06-04 20:42] rmg commented on #81
Ah, hadn't seen that one yet. I'll check my app against `master` and see if that's enough.

[2017-06-04 20:44] rmg commented on #81
Oh, I was already testing against `master`, nevermind.

[2017-06-04 20:44] apocas commented on #81
`
    if (data !== '{}' && data !== '""') {
      optionsf.headers['Content-Type'] = 'application/json';
    } else {
      data = undefined;
    }
`

Something is weird. With this fix, run exec test fails with 500 and "{"message":"EOF"}"

Using what's in master right now, I can start a container without options.

[2017-06-04 20:50] rmg commented on #81
Strange, my app uses exec and has no issues with it. Are you specifying any options to force it open? My app uses `AttachStdin: true` on the `container.exec()` and `stdin: true, hijack: true` on the `exec.start`.

[2017-06-04 20:51] rmg commented on #81
This is probably relevant:
[code]

[2017-06-04 21:01] apocas commented on #81
Ah I'm not yet on the rc.
Will bump my version and test again.

[2017-06-04 21:10] apocas commented on #81
How do I install that version easily? (latest stable is:  17.05.0-ce . -- API version:  1.29)

There was a dev repo, but now with all this constant renaming/rebrand/product mess can't find it.

[2017-06-04 21:16] rmg commented on #81
I'm using docker-for-mac and there's a toggle for switching between "edge" and "stable" for updates.

[2017-06-04 21:51] apocas commented on #81
Same setup as you.
 Version:      17.06.0-ce-rc1
 API version:  1.30

It's not the version but the options you are using. If you do not attach to stdin it fails.

https://github.com/apocas/dockerode/blob/master/test/container.js#L547 this test without stdin fails.

[2017-06-07 14:54] philjones88 commented on #81
I'm hitting this too but with:

[code]

[code]

[code]

[2017-06-10 18:53] rmg commented on #80
@jinxidoru you might want to take a look at [strong-tunnel](https://github.com/strongloop/strong-tunnel).

I haven't tested it with docker specifically, but it was originally built to work with an http protocol similar to docker's (eg. mix of requests websockets), so it should be able to handle things like connection hijacking like Docker does for streams.

**disclaimer**: I wrote it

[2017-06-10 19:01] jinxidoru commented on #80
Oh nice.  Have you considered creating an integration with docker-modem?

[2017-06-10 19:37] rmg commented on #80
This should be all the integration you need:

[code]

[2017-06-10 20:28] jinxidoru commented on #80
This won't attach to the unix domain socket though, correct? It would require that the remote host be exposing the docker API on a tcp port, correct?

[2017-06-10 20:36] rmg commented on #80
Yes, it was written for TCP connections.

[2017-06-14 05:07] georgehdd commented on #81
Hey, do you know when a release with this fix will be published to npm?

[2017-06-14 08:04] apocas commented on #81
Later today.

Pedro Dias

On Jun 14, 2017 6:07 AM, "georgehdd" <notifications@github.com> wrote:

[2017-06-14 20:25] apocas commented on #81
Published.

[2017-06-14 20:25] #81 closed

[2017-07-22 21:07] pirog opened #83 "Requests that return HttpDuplex (eg docker exec start) hang when using named pipe on windows."
Found an interesting situation that i was able to track down a bit. I am unsure if this is a bug with docker-modem or potentially how Docker for Windows sets up the named pipe to begin with.

Here is a file to replicate (uses latest node-docker-api but upgraded to docker-modem 1.0.0), the same thing happens if you use analogous code for dockerode

[code]

If you connect over `tcp` (need to allow i

[2017-10-25 19:50] #80 closed

[2017-10-25 19:53] apocas commented on #77
With the current package.json, 2.6.8 is being used.

[2017-10-25 19:53] #77 closed

[2017-11-07 16:05] bholbrook73 commented on #62
@doganyazar - I run into the same problem - but only intermittently and I'm not returned any error so rejecting the err doesn't help. Do you have any more information on this?

[2017-11-07 23:46] doganyazar commented on #62
@bholbrook73 sorry I have not had any problems with it after that.

[2018-02-28 02:08] ak1394 opened #88 "Broken followProgress()"
It looks like the recent release which updated JSONStream from 0.10.0 to 1.3.2 has broken followProgress().
With version 1.0.5 onFinished, onProgress callbacks are no longer being called.

[2018-03-07 13:51] andyedwardsdfdl commented on #88
Possibly related to https://github.com/apocas/dockerode/issues/439 ?
If so, then `docker-modem@1.0.6` will fix this.

[2018-03-07 15:50] apocas commented on #88
Correct :)

[2018-03-07 15:50] #88 closed

[2018-03-30 01:32] rssk opened #90 "Docker image pulls fail on Windows due to bad Content-Type/Length"
## Problem
This is the same as the issue [here](https://github.com/apocas/dockerode/issues/347), on a `pull` the docker daemon responds to with an error: `context cancelled`. The issues seems to be a couple of things:
* the `Content-Length` is calculated using a `data` payload that is never sent in the request. Perhaps the query string should be used https://github.com/apocas/docker-modem/blob/mas

[2018-04-02 21:03] apocas commented on #90
Humm indeed strange.

When I have time I will build a Windows env to debug this one.

[2018-05-17 22:52] twifty opened #91 "arrays within query parameters"
The API states that some of the query parameters can be duplicated. for example the 'extrahosts'  and 't' parameters of ImageBuild.

I see this library makes use of `querystrings`, and correctly converts objects to JSON strings. But, it doesn't handle arrays. So, for example, given an object like:
[code]
`querystrings` will covert to 'extrahosts[0]=somehost:162.242.195.82&extrahosts[1]=otherhost:5

[2018-06-13 23:44] KBPratap commented on #62
I have this issue, on some user machines this works fine but for some it throws the following errors:

    TypeError: Cannot read property 'pipe' of null
        at Modem.followProgress (/data/app/node_modules/docker-modem/lib/modem.js:316:10)

Following is the implementation

    docker.pull(repoTag, function(err, stream) {
        docker.modem.followProgress(stream, onFinished, onProgress);

[2018-06-14 16:32] KBPratap opened #93 "stream is null during docker pull and not handled"
I have this issue, on some user machines this works fine but for some it throws the following errors:

    TypeError: Cannot read property 'pipe' of null
        at Modem.followProgress (/data/app/node_modules/docker-modem/lib/modem.js:316:10)

Following is the implementation

    docker.pull(repoTag, function(err, stream) {
        docker.modem.followProgress(stream, onFinished, onProgress);

[2018-06-15 10:04] kytwb commented on #91
@twifty arrays aren't being querystringify'd properly due to `buildQuerystring` (https://github.com/apocas/docker-modem/blob/master/lib/modem.js#L350). Arrays are being stringify'd before being passed to `querystring`.

/cc @apocas

[2018-07-12 12:02] #79 closed

[2018-07-30 12:03] MartinMuzatko commented on #62
same here. It only happens sometimes

[2018-08-10 23:31] markbirbeck opened #95 "Query string parameters are only added if the URL contains a '?'"
For some reason if an options object like this is submitted:

[code]

the parameters in `_query` are *not* added to the URL. However, if there *is* a question mark in the URL, they *are* added:

[code]

The line that causes this is [modem.js#L115](https://github.com/apocas/docker-modem/blob/88dcd42d6d8fc99f63b724114ffdaf69088610f1/lib/modem.js#L115), but I'm wary of touching it since I'm not quite

[2018-08-27 10:18] bompi88 commented on #90
@apocas did you get time to look into this issue?

[2018-08-29 11:55] apocas commented on #90
I'm able to run the image pull test on Windows.
https://github.com/apocas/dockerode/blob/master/test/docker.js#L184

Using Windows 10 and latest Docker version.

[2018-09-28 10:27] bj00rn commented on #62
same error here. intermittent

[2018-12-13 11:20] JoonasVali commented on #83
Hi, I'm most likely running in to the same problem with Dockerode 2.5.4 which relies on Docker-modem 1.0.4 . Anything with exec.start gets stuck and won't terminate properly.

[2019-01-04 21:32] diablodale opened #99 "request: add the native docker SSH support now available in v18.09"
Request to add support for Docker v18.09 native SSH.
This new connection method between client and engine allows for simple and shared SSH configuration which is far more common and more easily administered that the prior custom CA/certs solution.

Via the docker cli, it is easily done by setting the env var `DOCKER_HOST=ssh://hostname` or directly on the docker command using the `-H` parameter as

[2019-09-16 21:24] #67 closed

[2019-09-16 23:40] #99 closed

[2019-09-20 14:25] #45 closed

[2019-09-23 19:28] apocas commented on #95
This comes from way back.
At the time the Docker API was very young. There were endpoints sending/posting data in very different ways and different signatures everywhere.
Question mark was used in order to easily identify which ones used query string :)

[2019-09-23 19:30] apocas commented on #93
Could you give more details?
Can't replicate this.

[2019-09-23 19:31] apocas commented on #91
Interesting, will check this one.

[2019-09-23 19:33] apocas commented on #90
Will close this one for now.
Will reopen if more info is provided.

[2019-09-23 19:33] #90 closed

[2019-09-24 14:44] hvaara commented on #90
Thanks for taking the time to look at this, and I fully understand closing this after more than a year of feedback.

We were seeing this and were able to reproduce it consistently. Since then we've implemented a workaround to mitigate the issue. We only saw this on Windows machines. Not on Mac and Linux. The image pull fails multiple times, until it eventually succeeds. How many retries is necessa

[2019-10-02 12:35] chrmarti opened #105 "IPv6 IP addresses"
The regex parsing the DOCKER_HOST URI does not support IPv6 IP addresses: https://github.com/apocas/docker-modem/blob/99fcf0d10521f974dbe335a47a09ecf30ca6c1a2/lib/modem.js#L28

E.g., `'tcp://[::1]:12345'` would split at the second colon instead of the last. You could use Node.js' 'url' module instead of a regex.

[2019-10-03 13:38] apocas commented on #105
Just pushed a fix to master. Will publish it later tonight :)

Node.js's url module doesn't handle strings without a protocol specified. (which is used in a few use cases in Docker)
When a protocol isn't specified, docker-modem defaults to tcp:// then it used Node.js URL.

[2019-10-05 00:18] apocas commented on #105
Published in v2.0.1

[2019-10-05 00:18] #105 closed

[2019-10-05 00:33] apocas commented on #91
I can't replicated this, there's even a test for this.

https://github.com/apocas/docker-modem/blob/master/test/modem_test.js#L109

´´´
 var opts = {
      "limit": 12,
      "filters": {
        "label": ["staging", "env=green"]
      },
      "t": ["repo:latest", "repo:1.0.0"]
    };
´´´
limit=12&filters={"label":["staging","env=green"]}&t=repo:latest&t=repo:1.0.0

The array "t" was properly con

[2019-10-05 12:22] chrmarti commented on #105
@apocas Thanks for the quick fix!

[2019-10-06 09:04] kytwb commented on #91
@apocas the test case works because of `key !== 't'` https://github.com/apocas/docker-modem/blob/01cac7434c1927a5ccd41dbe493ae661b1274815/lib/modem.js#L351

[2019-10-08 00:25] apocas commented on #91
Missed that. Can't remember why that was done.
I suspect that endpoints didn't behave the same way, regarding input.

Will check if removing the stringify doesn't break anything.

[2019-10-08 00:34] apocas commented on #91
Passes: https://github.com/apocas/dockerode/blob/master/test/docker.js#L648
Fails: https://github.com/apocas/dockerode/blob/master/test/docker.js#L658

So we can't just remove the stringify. Add that parameter as an exception?

[2019-10-08 06:29] kytwb commented on #91
@apocas looks like it was introduced with this commit: https://github.com/apocas/docker-modem/commit/8565c3ffb9158329ae98c0b3ae666f163ed09f51. Regarding my use case, as far as I remember it was related to passing an array of environment variables when creating/starting (not sure) a Docker container using dockerode. It was not working and debug'd down to this part of the code in docker-modem.

[2019-10-16 20:56] bwateratmsft opened #107 "User is ignored in an SSH DOCKER_HOST"
Due to a combination of `defaultOpts` (https://github.com/apocas/docker-modem/blob/master/lib/modem.js#L16) and [this line](https://github.com/apocas/docker-modem/blob/master/lib/modem.js#L204), any value passed in as the user in DOCKER_HOST would be ignored. I believe the behavior would be that the current user is used. There's a high chance that won't work, however--if the local username is not

[2019-10-17 14:55] bwateratmsft commented on #107
I noticed an additional problem. It isn't possible to pass the agent either, so ssh-agent-based auth (which is the only option that can actually work with Docker) doesn't work.

[2019-10-17 16:28] apocas commented on #107
You should be able to pass an "agent" to the Modem.
https://github.com/apocas/docker-modem/blob/master/lib/modem.js#L81

I simplified it, by using the already existing "host" and "port" from Modem's constructor.
https://github.com/apocas/docker-modem/blob/master/lib/modem.js#L72

[2019-10-17 16:32] bwateratmsft commented on #107
@apocas I see that now. We can pass agent through dockerode to docker-modem. Ideally docker-modem would support that via `DOCKER_HOST` and `SSH_AUTH_SOCK` env vars, which is roughly what the Docker CLI does as well. I created #108

[2019-10-17 17:58] #107 closed

[2019-10-21 13:53] bwateratmsft opened #110 "DOCKER_TLS_VERIFY automatically enabled even without any config"
Originally opened by @sureshsankaran in https://github.com/microsoft/vscode-docker/issues/1169

DOCKER_HOST and DOCKER_CERT_PATH. Didn't set any value for "DOCKER_TLS_VERIFY" associated setting. Now the extension throws the error saying invalid server certificate, mismatched common name in the cert. I understand that the IP address used to connect to the docker engine is different from the one pre

[2019-10-21 15:26] bwateratmsft opened #111 "Consider using dnscache for caching DNS requests"
This came up from https://github.com/microsoft/vscode-docker/issues/1292 originally. Node.js does DNS lookups every single HTTP request: https://github.com/nodejs/node/issues/5893

This can be resolved by configuring a system-wide DNS cache, or using packages like [dnscache](https://www.npmjs.com/package/dnscache).

Can docker-modem make use of that package, or make it an option, in order to reduc

[2019-10-21 20:48] karolz-ms commented on #111
Another approach is to leverage https://github.com/nodejs/node/pull/9296 to retrieve TTL information about DNS records and not repeat the resolution until the record has expired.

[2019-10-23 15:06] jeantil opened #112 "Docker modem raises : "a disk usage operation is already running""
Hi,
while it doesn't prevent my test suite from running, I keep getting these errors in the console for which docker-modem seems to be the root cause:

[code]

`docker version` reports
[code]
`uname -srv` reports :
[code]
using docker-modem "version": "1.0.9"
which is pulled by testcontainers:   "version": "2.1.0"
in my project.

[2019-11-07 13:46] chrmarti opened #113 "Support reading from .ssh/config"
With the support for `ssh://` for the Docker host in, it would be great if `.ssh/config` would be supported like the Docker CLI does too. There is the `ssh2-config` NPM package helping with that.

[2019-11-08 20:03] lyleunderwood commented on #95
Spent a bunch of time tracking this down today. Is this still relevant to the docker API?

[2019-11-29 19:41] ehossack commented on #112
I have the same issue, but if I switch to testcontainers version 2.0.0 the error goes away. This could be related to their library (e.g. the space check here: https://github.com/testcontainers/testcontainers-node/commit/4ba9d50ba0465087a3997fdbd79bc473bec3e10c)

[2019-12-12 10:34] coco-super commented on #93
###   docker.modem.followProgress(stream, onFinished, onProgress);
function buildImage(dockerBuildDir, dockerfilePath, imageTag) {

  return new Promise((resolve, reject) => {
    var tarStream = tar.pack(dockerBuildDir);

    docker.buildImage(tarStream, {
      dockerfile: path.relative(dockerBuildDir, dockerfilePath),
      t: imageTag
    }, (error, stream) => {
      containers.add(stream);

[2019-12-13 08:48] Hamzali opened #114 "Always uses socketPath unless it is set to null"
Hello and thanks for terrific package :)

I followed the examples in the readme and did:

[code]
But it would still connect to the default unix socket. Finally I figured out that explicitly setting socketPath to null I could get it to respect the options. I.e. this works:
[code]
the solution lies under here, it should first check for http then go for socket option;
in `lib/modem.js`
[code]

[2019-12-27 19:17] zxlin commented on #114
@apocas would it be wise for us to consider exposing this as a utility function for users of the lib to call so that they may explicitly pass this into the constructor rather than it being auto-populated? This can avoid some ambiguity with the options being passed in and how they're manipulated. Or if a `null` or `undefined` is passed as the constructor, it'll use the defaults, but an empty object

[2020-01-23 07:30] gautaz opened #115 "Option registryConfig should also be removed from the query string"
Hello,

Looking at: https://github.com/apocas/docker-modem/blob/419cd89ff7ea04289c132503bf4d429da13adbd4/lib/modem.js#L104-L107

As the header `X-Registry-Config` is bound to contain the user docker configuration which holds all her credentials to the different repositories she is actually logged in, these information are also sensible and should not appear in the query string.
So I think `opts.re

[2020-02-05 07:33] natlibfi-arlehiko opened #116 "8be3b43 clutters output"
Commit 8be3b43291aaa5660bdafcea4396c708585056c6 seems to have added the `console.log` to the code:
https://github.com/apocas/docker-modem/blob/8be3b43291aaa5660bdafcea4396c708585056c6/lib/modem.js#L404
Is this on purpose? I don't think it's good practise for libraries/modules to do logging automatically. If on purpose, please consider using [debug](https://www.npmjs.com/package/debug) instead.

[2020-02-05 09:11] #116 closed

[2020-02-05 09:11] apocas commented on #116
Fixed and published.
It was left behind :/

[2020-03-06 11:00] phuctm97 commented on #113
Was this resolved?

[2020-03-06 13:29] chrmarti commented on #113
Not that I know.

[2020-03-17 03:57] karolz-ms commented on #113
I would love to see this fixed too. Here are more detailed repro steps--hope this helps

1. Configure an SSH host with a non-DNS-resolvable name (Host field in./ssh/config, e.g. `mydevbox`) that maps to real machine name or IP address (HostName field, e.g. mydevbox.real.dns.name). See http://man7.org/linux/man-pages/man5/ssh_config.5.html for details. The following steps assume Docker is installed

[2020-03-17 04:43] phuctm97 commented on #113
@karolz-ms I had same issues, too. Therefore, I'm going to create a PR fixing this, however it's just going to happen in at least two more weeks.

[2020-03-17 16:25] karolz-ms commented on #113
@phuctm97 that would be awesome, let me know if I can be of help!

[2020-07-16 05:04] ntziolis opened #121 "Bug: Port 2376 always defaults to https with no ability to override"
While it is pretty standard to use SSL/TLS when port 2376 it should not be assumed this is a given or at the very least we should be able to override it.

For comparison when using docker from the command line there were no issues when using the same host + port configuration.

Referencing the related issue:
https://github.com/microsoft/vscode-docker/issues/2164

[2020-08-18 07:51] yaroslav-codefresh opened #123 "Bug: Authconfig is not base64 urlencoded (but simply base64)"
Docker api docs say that `X-Registry-Auth` should be `base64urlencoded` ([here](https://docs.docker.com/engine/api/v1.39/#section/Authentication)), but what I see from the code in the version `3.2.1` the value passed to this header is simply `base64` encoded. ([here](https://github.com/apocas/docker-modem/blob/4a96752461ab947788cd6d1bf3db7365a1577aff/lib/modem.js#L157))

This lead our company ([co

[2020-08-18 11:52] apocas commented on #123
Version 3.2.1 and all versions, this behaviour hasn't changed.

Will look into it when I have time, but feel free to open a PR :)

[2020-08-19 09:29] yaroslav-codefresh commented on #123
sure, here is it:
https://github.com/apocas/docker-modem/pull/124

[2020-08-19 10:11] yaroslav-codefresh commented on #123
sorry, seems it's not so easy:
other registries fail with such header passed with base64url (seems only acr supports and needs this).

Can you please take further investigations?

[2020-10-20 12:23] kratoon3 commented on #62
Still happens to me if the image does not exists.

[2020-11-25 13:03] #112 closed

[2021-03-27 06:18] Mrono opened #129 "Add the ability to demux a string"
Currently the docker api returns a multiplexed buffer for log files when follow=false.  As it is not a stream the current function of demuxStream doesn't function with it.  This is an idea I had in mind for lib/modem.js along side demuxStream

`Modem.prototype.demuxBuffer = function(buffer) {
  return new Promise((res, rej) => {
    var nextDataType = null;
    var nextDataLength = null;
    var o

[2021-04-25 14:23] rafipiccolo opened #131 "npm and github diverge ?"
Hello,

i can see that version 2.1.4 is latest.
improvements were done, in particular the ability to connect with ssh and private key but they are not on available on npm.

can you push a new version to npm with current source code from github please ?

[2021-04-25 14:25] apocas commented on #131
Yes there are a few changes yet to be published.
They will be published tonight :)

[2021-04-25 18:56] apocas commented on #131
Done

[2021-04-25 18:56] #131 closed

[2021-04-25 20:34] rafipiccolo commented on #131
works for me :) thx !

[2021-09-15 07:04] gjasny opened #135 "Update ssh2 dependency"
Hello,

Could you please update the used version of the `ssh2` dependency to at least `1.0.0` and publish a new release?
That would solve [GHSL-2020-123](https://securitylab.github.com/advisories/GHSL-2020-123-mscdex-ssh2/).

Thanks,
Gregor

[2021-09-22 07:45] antikaspar commented on #135
@apocas Thank you.

[2021-09-22 08:06] gjasny commented on #135
Fixed with 0b24b61f4a92ab4dcc8bd3e4b3c49e279eec8af0 / [v3.0.3](https://github.com/apocas/docker-modem/releases/tag/v3.0.3).

[2021-09-22 08:06] #135 closed

[2021-10-18 05:57] cheetahbyte opened #137 "Bug: Building an image fails"
Hello, i have the problem that i can't build images with dockerode.

My Code:
[code]

My Dockerfile:
[code]

Error:
[code]

Docker logs
[code]
There was a similar error before (#5), but I did not use any unusual characters.

I look forward to an answer, and to the solution of the problem ^^

[2021-10-20 06:39] Tarik02 commented on #121
I've spent a lot of time configuring tls for docker (vscode) when I didn't actually need it (local virtual machine and port forwarding). And that's all because I used port 2376 which is always trying to use TLS (while CLI does not).
The last time I was trying to setup that dumb thing and it could not connect at all. Just using another port works flawlessly, but everyone is putting port 2376 on the

[2021-12-15 15:26] merlindru opened #138 "Why does followProgress require JSON output?"
`followProgress` attempts to [parse](https://github.com/apocas/docker-modem/blob/8556ad38cf5a022b22f50920fae6b08d2ac3f207/lib/modem.js#L430) all stream data as JSON. Why is that the case?

I'm using dockerode and would like to log the (pretty-printed, not in JSON) stdout of a container to the console. Is there any way to use followProgress this way?

Thanks!!

[2022-01-14 00:54] pdcastro opened #139 "v3.0.1 causes error: "invalid character '/' looking for beginning of value""
`docker-modem` v3.0.1 / PR #133 (then modified by PR #134 / v3.0.2) introduced a bug that manifests as the following image build error message when the build options include a `volumes` array -

[code]
[code]

I had already added a comment to the PR itself (https://github.com/apocas/docker-modem/pull/133#issuecomment-1009464228). Now creating this issue so that the comment does not get forgotten t

[2022-03-24 16:47] WeeJeWel opened #141 "Upgrade `ssh` to `1.8.0`."
Fixes this issue: https://github.com/mscdex/ssh2/issues/1083#issuecomment-1077824328

[2022-04-29 20:36] nwalters512 opened #142 "dial() can call callback multiple times"
`Modem.prototype.dial` can call its callback multiple times, which violates that principle that Node-style callbacks of this type should be invoked only once with either an error or a result. This appears because it attaches listeners to the [`response`](https://github.com/apocas/docker-modem/blob/e5f75ea4b13dd504a24f92d6257aad5b4ba8f3d4/lib/modem.js#L278) and [`error`](https://github.com/apocas/d

[2022-05-26 08:12] pysarenko-bohdan commented on #123
@apocas @yaroslav-codefresh I bumped into this bug too. ) Starts from Docker Engin API 1.39  we can't use "~" in credentials normally since encode algorithm [was changed](https://docs.docker.com/engine/api/v1.41/#section/Authentication) to ''[Base64url](https://datatracker.ietf.org/doc/html/rfc4648#section-5)". It's related only to "X-Registry-Auth" header. Looks like I found a workaround (took fr

[2022-05-26 08:20] pysarenko-bohdan commented on #123
After that should be updated Dockerod library accordingly.

[2022-05-26 10:32] pasha-codefresh commented on #123
@apocas would be happy if you can review it , because it is affecting our production customers. Thank you

[2022-05-27 10:29] apocas commented on #123
Going to look into this later today :)

[2022-05-30 16:35] pysarenko-bohdan commented on #123
@apocas Good evening. Did you have a chance to look into PR? We are still blocked with that.

[2022-06-02 13:54] sigilworks commented on #141
@apocas I think @WeeJeWel here is referring to [`ssh2`](https://www.npmjs.com/package/ssh2) (now at `1.10.0`).

This problem that is fixed in the PR WeeJeWel mentions below fixes issues we're having with M1 Mac users (and some Windows WSL2 users) installing projects using `dockerode`.  Would be great to have this dependency bumped if possible.

[2022-06-03 07:31] pasha-codefresh commented on #123
@apocas could you please check PR :)

[2022-06-04 16:24] pasha-codefresh commented on #123
@apocas thank you for review, is it possible that we can create release on it? so we can ask dockerrode update version of docker-modem

[2022-06-06 06:51] pysarenko-bohdan commented on #123
@apocas I prepared [PR](https://github.com/apocas/dockerode/pull/666) for Dockerode too.

[2022-06-15 14:01] dfunckt commented on #139
Fixed by #144.

[2022-08-12 11:49] echuber2 commented on #142
@apocas Bump -- @nwalters512 wrapped this behavior in a Promise to ensure it would only be resolved once. Would that be appropriate to do in the library in general?

[2022-08-19 11:19] apocas commented on #142
Interesting, curious about the underlying cause.
docker-engine's HTTP management isn't the great also, so it could also be a problem there.

Nevertheless going to implement a simple/nasty control to ensure that the callback is called only once and this way avoid any breaking change.

[2022-08-19 11:31] #142 closed

[2022-08-19 11:59] #139 closed

[2022-08-19 12:01] apocas commented on #138
Docker already return that data in JSON, followProgress just parses it.
You stringify it again, or just don't use followProgress and implement your own strategy using the stream directly :)

[2022-08-19 12:01] #138 closed

[2022-08-19 12:16] apocas commented on #141
SSH2 bumped and published on docker-modem v3.0.6

[2022-08-19 12:16] #141 closed

[2022-08-19 13:07] WeeJeWel commented on #141
Thank you!

[2022-08-31 06:49] roddc commented on #91
@apocas I tried to get multiple images, I need to pass names as array to query, but it doesn't work

[2022-09-01 09:13] roddc opened #147 "followProgress throw an error on exporting images"
I'm using `followProgress` to write the data got from `'/images/get?'` to a tar, but it will throw `SyntaxError: Unexpected number in JSON at position 1` when streaming the data.
The error happens on `processLine (/node_modules/docker-modem/lib/modem.js:443:24)`
Now I will use the stream.pipe instead.

[2022-09-01 20:24] nicks commented on #83
docker desktop 4.12 has a compatibility shim that should fix this.
https://docs.docker.com/desktop/release-notes/#bug-fixes-and-minor-changes
see my comments about it here: https://github.com/apocas/dockerode/issues/534

[2022-10-21 21:52] gallynero opened #149 "Wrong type on buffer response"
I am trying to make the log examples and they do not work and send the following error:

`stream.on('data', processData);
         ^
TypeError: stream.on is not a function
    at Modem.demuxStream (/workspace/1_Project/1_Sources/node_modules/docker-modem/lib/modem.js:410:10)`

Because the returned stream is of type Buffer and not of type ReadableStream, I think the bug is in this line:

https://gi